<div class="panel panel-default">
  <div class="row p-3">
    <div class="col-md-6">

      <img
        class="meme-image"
        routerLink="../../../memes/{{memeId}}"
        width="450"
        src="{{imageUrl}}"
      />
    </div>
    <div class="col-md-5">

      <div *ngFor="let commentId of commentIds">
        <feed-comment commentId="{{commentId}}"></feed-comment>
        <hr>
      </div>

    </div>
    <div class="col-md-1">
      <!-- Buttons - upvote/downvote/comment -->
    <div class="col-md-1" id="buttons-col">
      <div id="upvote-button" class="row">
        <button type="button" class="button-round" aria-label="upvote" (click)="upvoteMethod()">
          <span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span>
        </button>
      </div>
      
      <div id="downvote-button" class="row">
        <button type="button" class="button-round" aria-label="downvote" (click)="downvoteMethod()">
          <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
        </button>
      </div>

      <div id="comment-button" class="row">
        <button type="button" class="button-round" aria-label="comment" (click)="addCommentMethod()">
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>
