<div class="container-custom">
  <div class="header"></div>
  <div class="body">


    <div class="sidebar">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="padding"></div>
          </div>
          <div class="row">
            <!-- Image/Meme-->
            <img src="{{ imageUrl }}" class="meme-image-detail" />
            
          </div>
          <div class="row">
            <label style="font-size: 200%">Caption: <var>{{ caption }}</var></label>
          </div>
          <div class="padding"></div>
          <!-- Upvote and Downvote button-->
          <div class="row-md-2">
            <table class="table table-responsive">
              <tbody>

                <tr>
                  <td>
                    <button type="button" class="button-round" aria-label="upvote" (click)="upvoteMethod()">
                    <span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span>
                    </button>
                  </td>
                  <td>
                    <button type="button" class="button-round" aria-label="downvote" (click)="downvoteMethod()">
                      <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
                    </button>
                  </td>
                  <td>
                    <!-- Report button-->
                    <button type="button" class="button-round" aria-label="report" (click)="reportMethod()">
                      <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                    </button>
                  </td>
                  <td>
                    <p>Votes: {{ totalVotes }}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>

    <div class="content">
      <label style="font-size: 200%">Comments</label>

      <!-- TODO add loop for comments -->
      <div *ngFor="let commentId of commentIds">
        <feed-comment commentId="{{commentId}}"></feed-comment>
        <hr>
      </div>
    </div>
  </div>
  <div class="row-custom">
    <div class="col-10">
      <br/>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Write a Comment">
      </div>
    </div>
    <div class="col-2">
      <div id="comment-button-detail">
        <button type="button" class="button-round pull-right" aria-label="comment" (click)="addCommentMethod()">
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>
